{
  "extends": [
    "plugin:github/recommended",
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsonc/recommended-with-json",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023
  },
  "rules": {
    "camelcase": "off",
    "github/no-then": "warn",
    "i18n-text/no-en": "off"
  }
}
